/* font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Space Mono', monospace; */


body{
    margin: 10px;

}

.logo img{
    width: 320px;
    height: 214px;
    border-radius: 12px;
}
.descrip{
    display: flex;
}
.descrip{
    margin: 0px;
}

h1{
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;

}

.descrip p{
    margin: 0;
    padding-left: 5px   ;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.logo img{
    width: 392px;
    height: 214px;
    border-radius: 12px;
    margin-top: 1rem;
}

#knife img{
    Width: 13.54px;
    Height: 12.57px;
    margin-right: 10px;
    margin-top: 5px;
}

#yield{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 8px;
line-height: 10px;
text-transform: uppercase;
margin: 0;

/* Gray 4 */

color: #BDBDBD;
}
#servings{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
margin: 0;

/* Orange */

color: #F2994A;

}

#knifecontainer{
    display: flex;
}

.iconos{
    margin-top: 12px    ;
}

#relojes {
    display: flex;
    justify-content: space-between;
}
.preptime{
    display: flex;
}

.preptime .timer{
    margin-top: 11px;
    padding-right: 4px;
    padding-left: 10px;
}
#relojes .titletimer{
 font-family: 'Montserrat', sans-serif;
 font-style: normal;
 font-weight: 500;
 font-size: 10px;
 line-height: 12px;
 color: #BDBDBD;
 margin-bottom: 0;
}
#relojes .justifytimer{
    font-family:'Montserrat', sans-serif ;
    font-family: Montserrat;
    font-style: normal; 
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
}

/* INGREDIENTES */

.ingredients-title #ingredients{
    font-family:'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.ingredients-title #cracker{
    font-family:'Playfair Display', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}

.cracker-check{
    display: flex;
    flex-direction: column;
}

.cracker-check .listc1{
    display: flex;
}
.ingredienttext{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #333333;
}
.check1{
    width: 21px;
    height: 21px;
    left: 13px;
    top: 583px;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 10px;
}

span{
    font-weight: bold;
}

/* Cheesecake */

#cheesecaketitle{
    font-family: 'Playfair Display', serif;
    width: 287px;
    height: 48px;
    left: 14px;
    top: 735px;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;    
    margin-bottom: 0;
}

.cheesecake-list{
    display: flex;
    flex-direction: column;
}

.cheesecake-list .listc2{
    display: flex;
    margin-top: 10px;
}


/* instructions */
#instructions{
    font-family:'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.instructionstext button{
    width: 36px;
    height: 36px;
    left: 12px;
    top: 1275px;
    background: #F2994A;
    border-radius: 6px;
    font-family:'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: white;
    text-align: center;
}
.instructionstext{
    display: flex;
    flex-direction: column;

}
.instructionstext .listc3{
    display: flex;
    padding-top: 10px;

}

.instructionstext .instructiontex{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-left: 8px;
}

#source{
    font-family:'Montserrat', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;

color: #BDBDBD;
}
#createdby{

    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #828282;


text-align: center;


}